@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top,#4f52f3c2, #5f2c82);
    }

    section#login {
        width: 80vw;
    }    

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    form > div.campo{
        display: block;
        width: 50%;
        margin: 5px auto 5px;
    }

    div.campo > label {
        display: block;
    }

    form > input[type=submit]{
        display: block;
        width: 50%;
        margin: 5px auto 5px;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top,#4f52f3c2, #5f2c82);
    }
    
    section#login {
        width: 950px;
    }    

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }

    form > div.campo{
        display: block;
        width: 50%;
        margin: 5px auto 5px;
    }

    div.campo > label {
        display: block;
    }

    div.campo > input {
        width: 85%;
        height: 40px;
        margin-bottom: 5px;
    }

    form > input[type=submit]{
        display: block;
        width: 50%;
        margin: 5px auto 5px;
    }
}